.nav-bar {
  display: flex;
  border: 2px solid #000;
  font-weight: bold;
  line-height: 20px;
  padding: 10px;
}

.navbar-brand {
  font-size: 32px;
}

#navbarNav {
  margin: 0.4% 0.5rem 0.4% auto;
}

.nav-ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  border-right: 2px solid #000;
  padding: 3px;
}

.nav-item:last-of-type {
  border-right: none;
}

a {
  text-decoration: none;
  color: #000;
}

.add-book-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

form {
  text-align: center;
  line-height: 40px;
}

.form-inputs {
  width: 40%;
  border: 1px solid #000;
  line-height: 20px;
}

.form-inputs1 {
  width: 40%;
  border: 1px solid #000;
  line-height: 20px;
}

.form-btn {
  margin-left: 32%;
  background-color: #8801be;
  color: #fff;
  font-weight: bold;
}

#book-list {
  border: 2px solid #000;
  line-height: 20px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 94vw;
  display: none;
}

.button {
  background-color: #fa0a0a;
  left: 80%;
  font-weight: 600;
  color: #fff;
  margin: 0.4% 0.5rem 0.4% auto;
}

#row {
  display: flex;
}

p {
  font-weight: bold;
  font-size: 13px;
}

.row-btn {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding-left: 0.3rem;
  line-height: 30px;
}

#row:nth-child(odd) {
  background-color: #ddd;
}

.contact-info {
  font-weight: bold;
  display: none;
  font-size: 18px;
}

.contact-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-head {
  font-weight: bold;
  text-align: center;
  padding-bottom: 3rem;
  font-size: 27px;
}

.list-head {
  text-align: center;
  font-size: 30px;
  display: none;
}

.copyright {
  border: 1px solid #000;
  padding: 12px;
  margin-top: 25rem;
}

.date {
  text-align: end;
}
